nvim/.config/nvim/backup
nvim/.config/nvim/plugin/
nvim/.config/nvim/lazy-lock.json
nvim/.config/nvim/spell

zsh/.config/zsh/.zcompcache
zsh/.config/zsh/.p10k.zsh
zsh/.config/zsh/.zcompdump
zsh/.config/zsh/.zhistory
zsh/.config/zsh/options/github-plugins

fish/.config/fish/completions/
fish/.config/fish/conf.d/nvm.fish
fish/.config/fish/fish_plugins
fish/.config/fish/fish_variables
fish/.config/fish/functions/_nvm_index_update.fish
fish/.config/fish/functions/_nvm_list.fish
fish/.config/fish/functions/_nvm_version_activate.fish
fish/.config/fish/functions/_nvm_version_deactivate.fish
fish/.config/fish/functions/fisher.fish
fish/.config/fish/functions/nvm.fish
